spring.application.name=mspr-acme-app

server.port=8080

spring.cloud.config.enabled=false

spring.datasource.url=jdbc:mariadb://localhost:3306/acme
spring.datasource.username=user
spring.datasource.password=password
